/* 页面内容宽度 */

.w {
    margin: auto;
    width: 990px;
}


/* 页面背景颜色 */

body {
    background-color: #f4f4f4;
}


/* 字体图标 */

@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?f9tdbk');
    src: url('../fonts/icomoon.eot?f9tdbk#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?f9tdbk') format('truetype'), url('../fonts/icomoon.woff?f9tdbk') format('woff'), url('../fonts/icomoon.svg?f9tdbk#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}


/* 快捷导航模块 */

#shortcut {
    width: 100%;
    height: 30px;
    background-color: #e3e4e5;
    border-bottom: 1px solid #ddd;
}

.sc-box {
    height: 30px;
}

.sc-box .left {
    float: left;
    width: 58px;
    height: 28px;
    line-height: 28px;
    cursor: pointer;
    color: #999;
}

.sc-box .left:hover {
    background-color: #fff;
}

#shortcut .dw {
    margin-right: 4px;
    font-family: 'icomoon';
    /* 该属性定义行内元素的基线相对于该元素所在行的基线的垂直对齐 middle放于父元素的中部*/
    vertical-align: middle;
    color: #f10215;
    font-size: 14px;
}

.sc-box .right {
    float: right;
    line-height: 30px;
}

.sc-box .right li {
    float: left;
}

.sc-box .right li a {
    color: #999;
}

.sc-box .right li a:hover {
    color: #f10215;
}

.sc-box .btn-login {
    margin-right: 5px;
    width: 105px;
    text-align: left;
    /* 超出隐藏 */
    overflow: hidden;
    /* 表示文本不会换行，在同一行继续，直到遇到标签为止 */
    white-space: nowrap;
    /* 当文本对象溢出是显示... */
    text-overflow: ellipsis;
    /* 兼容opera浏览器 */
    -o-text-overflow: ellipsis;
}

.sc-box .spacer {
    margin: 11px 5px 0;
    width: 1px;
    height: 10px;
    background-color: #ccc;
}

.sc-box .right .dt {
    padding: 0 7px;
}

.sc-box .right .mobile {
    z-index: 20;
}

.sc-box .right .icon {
    font-family: 'icomoon';
    width: 12px;
    height: 12px;
    color: #999;
    line-height: 12px;
}

.sc-box .right .mobile_ma {
    margin: 5px auto;
    width: 76px;
    height: 76px;
    background-color: #fff;
    box-shadow: 0 2px 8px rgb(0 0 0 / 10%);
    /* 50%表示 图片背景在标签中的位置 第一个值是水平位置，第二个值是垂直。 也可以使用像素表示（px）
       no-repeat 图片不重复
    */
    background: url(../images/ma.png) 50% no-repeat;
    /* 必须先有背景图片才可使用 background-size 也可以使用百分比表示
    属性也可是： cover 把背景图像扩展至足够大，以使背景图像完全覆盖背景区域。背景图像的某些部分也许无法显示在背景定位区域中。
                contain 把图像图像扩展至最大尺寸，以使其宽度和高度完全适应内容区域。*/
    background-size: 60px;
}


/* 导航栏模块 */

#header {
    height: 140px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}

.hd-box {
    position: relative;
    height: 140px;
}

.hd-box .logo {
    position: absolute;
    left: 0;
    top: 10px;
}

.hd-box .logo img {
    width: 190px;
    height: 120px;
}

.hd-box .search {
    position: absolute;
    position: relative;
    left: 220px;
    width: 690px;
    height: 60px;
}

.hd-box .search .form {
    position: relative;
    position: absolute;
    height: 100%;
    width: 490px;
}

.hd-box .form .sc_word {
    position: absolute;
    top: 33px;
    left: 20px;
    width: 369px;
    font-size: 12px;
    color: #999;
    z-index: 10;
}

.hd-box .form input {
    position: absolute;
    top: 25px;
    padding: 2px 44px 2px 17px;
    width: 490px;
    height: 36px;
    border: 2px solid #e2231a;
}

.hd-box .form .sc_icon {
    position: absolute;
    top: 28px;
    right: 75px;
    font-family: 'icomoon';
    width: 20px;
    height: 20px;
    font-size: 20px;
    color: #9f9f9f;
    cursor: pointer;
}

.hd-box .form .sc_bt {
    position: absolute;
    right: 3px;
    bottom: 1px;
    width: 58px;
    height: 32px;
    background-color: #e1251b;
}

.hd-box .form .sc_bt i {
    font-family: 'icomoon';
    color: #fff;
    font-size: 20px;
}

.hd-box .search .myshop {
    /* overflow: hidden; */
    position: absolute;
    left: 510px;
    top: 25px;
    width: 130px;
    height: 34px;
    text-align: center;
    line-height: 34px;
    border: 1px solid #e3e4e5;
    /* z-index: 1; */
}

.hd-box .search .myshop .sp_icon {
    margin-right: 13px;
    font-family: 'icomoon';
    color: #e1251b;
    font-size: 16px;
}

.hd-box .search .myshop .sp_tit {
    color: #e1251b;
    font-size: 12px;
}

.hd-box .search .myshop .sp_sum {
    position: absolute;
    top: 1px;
    left: 29px;
    padding: 1px 3px;
    display: block;
    width: 18px;
    height: 14px;
    color: #fff;
    font-size: 12px;
    line-height: 12px;
    background-color: #e1251b;
    border-radius: 7px;
}

.hd-box .hotwords {
    position: absolute;
    left: 220px;
    top: 65px;
    width: 450px;
}

.hd-box .hotwords a {
    margin-right: 10px;
    color: #999;
}

.hd-box .hotwords a:hover {
    color: #e1251b;
}

.hd-box .hotwords a:nth-child(1) {
    color: #e1251b;
}

.hd-box .nav {
    position: absolute;
    bottom: 0px;
    left: 203px;
    height: 40px;
}

.hd-box .nav ul li {
    float: left;
    margin: 0 11px;
    display: block;
    height: 40px;
    font-size: 15px;
}

.hd-box .nav ul li:nth-child(1) a {
    color: #e1251b;
    font-weight: 700;
}

.hd-box .nav ul li:nth-child(2) a {
    color: #e1251b;
    font-weight: 700;
}


/* 菜单模块 */

.menu_box {
    margin-top: 10px;
    margin-bottom: 30px;
    height: 470px;
    /* background-color: #fefefe; */
}


/* 左侧导航栏 */

.menu_left {
    float: left;
    margin-right: 10px;
    width: 190px;
    height: 470px;
    background-color: #fefefe;
}

.menu_left ul {
    padding: 10px 0;
}

.menu_left li {
    padding-left: 18px;
    height: 25px;
    font-size: 0;
    line-height: 25px;
    color: #333;
}

.menu_left li a {
    font-size: 14px;
}

.menu_left li span {
    padding: 0 2px;
    font-size: 12px;
}

.menu_left li:hover {
    background-color: #d9d9d9;
}


/* 中间轮播图 */

.menu_banner {
    position: relative;
    float: left;
    margin-right: 10px;
    width: 590px;
    height: 470px;
    /* background-color: skyblue; */
}

.menu_banner li a img {
    width: 100%;
    height: 100%;
}

.bn_btn {
    position: relative;
    position: absolute;
    top: 50%;
    margin-top: -17.5px;
    width: 25px;
    height: 35px;
    line-height: 35px;
    background-color: rgba(0, 0, 0, .15);
    font-size: 20px;
    z-index: 2;
}

.bn_btn_l {
    left: 0;
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
}

.bn_btn_r {
    right: 0;
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
}

.bn_btn i {
    position: absolute;
    display: block;
    top: 0;
    font-family: 'icomoon';
    color: rgba(255, 255, 255, .8);
    font-size: 20px;
}

.bn_btn_l i {
    left: -3px;
}

.bn_btn_r i {
    right: -3px;
}

.bn_point {
    position: absolute;
    left: 30px;
    bottom: 20px;
}

.bn_point i {
    display: block;
    float: left;
    margin-right: 4px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, .05);
    background: rgba(255, 255, 255, .4);
}

.bn_point i:nth-child(1) {
    border: 3px solid rgba(0, 0, 0, .1);
    background: rgba(255, 255, 255);
}


/* 右侧导航栏 */

.menu_right {
    float: left;
    width: 190px;
    height: 470px;
    background-color: #fefefe;
}

.menu_right .user {
    position: relative;
    padding-top: 67px;
    height: 102px;
    /* background-color: green; */
}

.menu_right .user .ifm_l {
    position: absolute;
    left: 20px;
    top: 13px;
    width: 44px;
    height: 44px;
}

.menu_right .user .ifm_l a {
    display: block;
    /* overflow: hidden; */
    width: 40px;
    height: 40px;
    border: 2px solid #fff;
    border-radius: 50%;
    box-shadow: 0 2px 8px rgb(0 0 0 / 5%);
}

.menu_right .user img {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.menu_right .user .ifm_r {
    position: absolute;
    top: 16px;
    right: 10px;
    left: 74px;
}

.menu_right .user .ifm_r p {
    height: 20px;
}

.menu_right .user .user_btn {
    text-align: center;
}

.menu_right .user .user_btn a {
    display: inline-block;
    margin: 0 5px;
    width: 70px;
    height: 25px;
    line-height: 25px;
    font-size: 12px;
    text-align: center;
    color: #fff;
    border-radius: 13px;
    background-color: #e1251b;
}

.menu_right .user .user_btn .plus {
    color: #e5d790;
    background-color: #363634;
}

.menu_right .user::after {
    position: absolute;
    left: 15px;
    right: 15px;
    bottom: 0;
    content: "";
    height: 1px;
    background-color: #eeeeee;
}

.menu_right .news {
    position: relative;
    height: 130px;
    background-color: #fefefe;
}

.menu_right .news .news_hd {
    position: relative;
    padding: 10px 0 0;
    margin-bottom: 8px;
    height: 30px;
    line-height: 20px;
    font-size: 0;
}

.menu_right .news .news_hd h5 {
    display: inline-block;
    font-size: 14px;
    margin-left: 15px;
    color: #333;
}

.menu_right .news .news_hd a {
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 12px;
    color: #999;
}

.menu_right .news .news_hd a:hover {
    color: #e1251b;
}

.menu_right .news .news_hd i {
    font-family: 'icomoon';
}

.menu_right .news .news_list {
    margin: 0 15px;
    height: 88px;
}

.menu_right .news .news_list li {
    margin-bottom: 6px;
    height: 16px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.menu_right .news .news_list li span {
    margin-right: 6px;
    display: inline-block;
    position: relative;
    width: 35px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    font-size: 12px;
    color: #e1251b;
    background-color: rgba(255, 37, 27, .08);
}

.menu_right .news::after {
    position: absolute;
    left: 15px;
    right: 15px;
    bottom: 0;
    content: "";
    height: 1px;
    background-color: #eeeeee;
}

.menu_right .service {
    padding: 5px 0.5px;
    height: 238px;
    background-color: #fefefe;
}

.menu_right .service ul {
    height: 225px;
}

.menu_right .service ul li {
    /* position: relative; */
    padding-top: 5px;
    float: left;
    width: 63px;
    height: 55px;
    background-color: #fff;
    text-align: center;
}

.menu_right .service ul li img {
    width: 28px;
    height: 28px;
}

.menu_right .service ul li span {
    display: block;
    height: 25px;
    color: #333;
    line-height: 25px;
    border-bottom: 2px solid #fff;
}


/* 京东秒杀 */

.sk_box {
    height: 260px;
    margin-bottom: 20px;
}


/* 倒计时 */

.seckill_countdown {
    float: left;
    width: 190px;
    height: 100%;
    /* background-color: red; */
}

.seckill_countdown a {
    position: relative;
    /* float: left;  解决子标签设置margin-top父标签跟随移动问题 */
    float: left;
    display: block;
    width: 190px;
    height: 100%;
    color: #fff;
    background-color: #e83632;
    background: url(../images/seckill.png) no-repeat;
}

.seckill_countdown .sk_title {
    margin-top: 31px;
    width: 100%;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}

.seckill_countdown .sk_desc {
    margin-top: 90px;
    font-size: 14px;
    text-align: center;
}

.seckill_countdown .sk_desc strong {
    /* margin-top: -1px; */
    font-size: 18px;
    vertical-align: middle;
}

.seckill_countdown .timmer {
    margin: 10px auto 0 auto;
    display: block;
    width: 130px;
    height: 30px;
    font-weight: 700;
}

.seckill_countdown .timmer span {
    position: relative;
    margin-right: 20px;
    display: block;
    float: left;
    width: 30px;
    height: 30px;
    font-size: 20px;
    text-align: center;
    line-height: 30px;
    background-color: #2f3430;
}

.seckill_countdown .timmer span:nth-child(1)::after {
    position: absolute;
    right: -20px;
    top: 0;
    content: ":";
    display: block;
    font-size: 18px;
    font-weight: bolder;
    width: 20px;
    height: 100%;
}

.seckill_countdown .timmer span:nth-child(2)::after {
    position: absolute;
    right: -20px;
    top: 0;
    content: ":";
    display: block;
    font-size: 18px;
    font-weight: bolder;
    width: 20px;
    height: 100%;
}

.seckill_countdown .timmer span:nth-child(3) {
    margin-right: 0;
}


/* 商品列表 */

.seckill_list {
    position: relative;
    float: left;
    width: 610px;
    height: 100%;
    background-color: #ffffff;
}

.seckill_list .sk_goods a {
    display: inline-block;
    width: 200px;
    height: 260px;
}

.seckill_list .sk_goods a img {
    display: block;
    margin: 30px auto 0 auto;
    width: 140px;
    height: 140px;
}

.sk_gd_name {
    margin: 13px auto 0 auto;
    width: 160px;
    font-size: 12px;
    font-weight: 400;
    color: #333;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.sk_gd_name:hover {
    color: #e1251b;
}

.sk_gd_price {
    margin: 7px auto 0 auto;
    width: 160px;
    height: 24px;
    font-size: 12px;
    color: #e1251b;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
}

.seckill_list button {
    position: relative;
    position: absolute;
    top: 50%;
    margin-top: -17.5px;
    width: 25px;
    height: 35px;
    line-height: 35px;
    background-color: rgba(0, 0, 0, .15);
    font-size: 20px;
    z-index: 2;
}

.seckill_list button i {
    position: absolute;
    display: block;
    top: 0;
    font-family: 'icomoon';
    color: rgba(255, 255, 255, .8);
    font-size: 20px;
}

.seckill_list .sk_btn_l {
    left: 0;
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
}

.seckill_list .sk_btn_r {
    right: 0;
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
}

.sk_btn_l i {
    left: -3px;
}

.sk_btn_r i {
    right: -3px;
}


/* 商品轮播图 */

.seckill_banner {
    position: relative;
    float: left;
    padding: 10px;
    width: 190px;
    height: 100%;
    background-color: #fff;
}

.seckill_banner .sk_img {
    margin: 20px auto 0 auto;
    width: 120px;
    height: 120px;
}

.seckill_banner .sk_img img {
    width: 120px;
    height: 120px;
}

.seckill_banner .sk_info {
    margin-top: 10px;
    width: 100%;
    height: 90px;
    font-size: 14px;
    text-align: center;
    background: linear-gradient(180deg, rgba(255, 255, 255, .5), rgba(220, 224, 236, .5));
}

.seckill_banner .sk_bn_tit {
    color: #666;
}

.seckill_banner .sk_bn_desc {
    color: #333;
    font-weight: 700;
}

.seckill_banner .sk_bn_action {
    margin-top: 4px;
    display: inline-block;
    padding-left: 4px;
    width: 82px;
    height: 24px;
    font-size: 12px;
    color: #e1251b;
    text-align: center;
    line-height: 22px;
    font-weight: 700;
    border-radius: 14px;
    border: 1px solid #e1251b;
}

.seckill_banner .sk_bn_action i {
    margin-top: -2px;
    margin-left: -3px;
    font-family: 'icomoon';
    /* display: inline-block; */
    font-size: 16px;
    vertical-align: middle;
    font-weight: 400;
}

.seckill_banner .sk_point {
    position: absolute;
    left: 50%;
    bottom: 16px;
    margin-right: 4px;
    margin-left: -6px;
}

.seckill_banner .sk_point i {
    margin-right: 4px;
    float: left;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #999;
}

.seckill_banner .sk_point i:nth-child(1) {
    background-color: #e1251b;
}


/* 大促楼层制作---618活动 */

.av_box {
    padding-top: 90px;
    margin: 20px auto;
    width: 1057px;
    height: 462px;
    background: url(../upload/av_bc.webp) no-repeat;
    background-size: cover;
}

.av_box .ac_container {
    margin: 0 auto;
    padding-left: 6px;
    width: 1000px;
}

.av_box .ac_container a {
    position: relative;
    float: left;
    margin-right: 8.5px;
    margin-bottom: 8px;
    width: 158px;
    height: 174px;
    background: url(../upload/ac_good_bc.webp) no-repeat;
    background-size: cover;
}

.av_box .ac_container a:nth-child(6) {
    margin-right: 0px;
}

.av_box .ac_container a:nth-child(12) {
    margin-right: 0px;
}

.av_box .ac_container .good_img img {
    position: absolute;
    top: 6px;
    left: 25px;
    width: 108px;
    height: 108px;
}

.av_box .ac_container .good_desc {
    position: absolute;
    /* position: relative; */
    left: 6.5px;
    top: 120px;
    width: 145px;
    height: 25px;
}

.av_box .ac_container .good_desc img {
    width: 100%;
}

.av_box .ac_container .good_desc span {
    position: absolute;
    left: 0;
    top: 5.5px;
    width: 145px;
    font-size: 14px;
    text-align: center;
    line-height: 14px;
    color: #fff;
}

.av_box .ac_container .good_tit {
    position: absolute;
    left: 0;
    bottom: 10px;
    width: 158px;
    height: 14px;
    font-size: 14px;
    text-align: center;
    line-height: 14px;
    font-weight: 700;
    color: #de452b;
}


/* 特价商品模块 */

.spec_box {}


/* 每日特价 */

.spec_box .sg_core1 {
    margin: 20px auto;
    width: 990px;
    height: 305px;
    /* background-color: #fff; */
}

.sg_core1_left {
    float: left;
    margin-right: 10px;
    width: 490px;
    height: 100%;
    background-color: #ffffff;
}

.sg_core1_left .sg_core1_l_tit {
    /* float: left; */
    position: relative;
    padding: 0 20px;
    width: 490px;
    height: 60px;
    line-height: 60px;
}

.sg_core1_left .core1_stit {
    margin-top: 12px;
    display: inline-block;
    height: 32px;
}

.sg_core1_left .core1_stit h3 {
    font-size: 24px;
    color: #333;
    line-height: 32px;
    font-weight: 700;
}

.sg_core1_left .core1_stit i {
    position: absolute;
    top: 21px;
    left: 125px;
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(../images/sprite.png) no-repeat;
    background-size: 32px 32px;
    background-position: -16px 0;
}

.sg_core1_left .sg_core1_l_desc {
    /* float: right; */
    position: absolute;
    right: 0;
    top: 0;
}

.sg_core1_left .sg_core1_l_desc a {
    margin: 0 13.5px;
    font-size: 14px;
    color: #999;
}

.sg_core1_left .sg_core1_l_desc a:nth-child(1) {
    color: #e1251b;
    border-bottom: 3px solid #e1251b;
}

.sg_special_list {
    padding: 0 10px 10px 10px;
    width: 490px;
    height: 280px;
    /* background-color: black; */
}

.sg_special_list .spec_item1 {
    position: relative;
    float: left;
    margin-right: 10px;
    width: 146px;
    height: 235px;
    background-color: rgba(109, 126, 146, .05);
}

.sg_special_list .spec_item1 img {
    position: absolute;
    left: 20px;
    top: 45px;
    width: 100px;
    height: 100px;
}

.sp_item1_tit {
    position: absolute;
    left: 0;
    top: 0;
    width: 90px;
    height: 24px;
    font-size: 12px;
    line-height: 24px;
    text-align: center;
    color: #fff;
    background-color: #f7a400;
}

.spec_item1_message {
    position: absolute;
    bottom: 10px;
    width: 100%;
    height: 80px;
}

.spec_item1_message span {
    display: block;
}

.spec_item1_message .sp_meg_tit {
    margin: 9px auto 4px auto;
    height: 19px;
    width: 126px;
    line-height: 19px;
    font-size: 14px;
    color: #333;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
}

.spec_item1_message .sp_meg_tit:hover {
    color: #e1251b;
}

.spec_item1_message .sp_meg_pic {
    margin-top: 4px;
    text-align: center;
    font-size: 18px;
    color: #e1251b;
    font-weight: 700;
}

.spec_item1_message .sp_meg_num {
    margin-top: 8px;
    font-size: 12px;
    text-align: center;
    color: #999;
}

.spec_item1_message .sp_meg_num i {
    color: #e1251b;
}

.spec_item_box {
    float: left;
    width: 292px;
    height: 235px;
    /* background-color: black; */
}

.spec_item_box .spec_item {
    position: relative;
    margin: 18px 0 48px 6px;
    float: left;
    width: 140px;
    height: 74px;
}

.spec_item_box .spec_item:nth-child(3) {
    margin-top: 0px;
}

.spec_item_box .spec_item:nth-child(4) {
    margin-top: 0px;
}

.spec_item .spec_item_img img {
    float: left;
    width: 74px;
    height: 74px;
}

.item_img_tit {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 74px;
    height: 16px;
    font-size: 11px;
    background-color: rgba(0, 0, 0, .6);
    color: #fff;
    text-align: center;
    line-height: 16px;
}

.spec_item_meg {
    float: left;
    width: 66px;
    padding-left: 6px;
    font-size: 0;
}

.spec_item_meg .sp_meg_tit {
    /* margin-left: 6px; */
    display: block;
    height: 32px;
    font-size: 12px;
    line-height: 16px;
    overflow: hidden;
    color: #333;
}

.spec_item_meg .sp_meg_pic {
    margin-top: 5px;
    display: block;
    font-size: 14px;
    color: #e1251b;
    font-weight: 700;
}

.spec_item_meg .sp_meg_num {
    margin-top: 3px;
    font-size: 12px;
    color: #999;
}

.spec_item_meg .sp_meg_num i {
    font-size: 12px;
    color: #e1251b;
}

.sg_core1_right {
    float: left;
    width: 490px;
    height: 100%;
    background-color: #fff;
}

.sg_core1_right .sg_core1_r_tit {
    /* float: left; */
    position: relative;
    padding: 0 20px;
    width: 490px;
    height: 60px;
    line-height: 60px;
}

.sg_core1_right .core1_stit {
    margin-top: 12px;
    display: inline-block;
    height: 32px;
}

.sg_core1_right .core1_stit h3 {
    font-size: 24px;
    color: #333;
    line-height: 32px;
    font-weight: 700;
}

.sg_core1_right .core1_stit i {
    position: absolute;
    top: 21px;
    left: 125px;
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(../images/sprite.png) no-repeat;
    background-size: 32px 32px;
    background-position: -16px 0;
}

.sg_core1_right .sg_core2_list {
    padding: 0 10px 10px 10px;
    width: 490px;
    height: 280px;
    /* background-color: #fff; */
}

.sg_core1_right .sg_goods_core {
    overflow: hidden;
    float: left;
    display: block;
    width: 230px;
    height: 235px;
    background: linear-gradient(180deg, rgba(161, 215, 152, .05), rgba(31, 102, 26, .05));
}

.sg_core1_right .sg_goods_core .core_logo {
    margin: 20px auto 0 auto;
    display: block;
    width: 50px;
    height: 25px;
}

.sg_core1_right .sg_goods_core h6 {
    margin-top: 6px;
    height: 20px;
    font-size: 16px;
    color: #333;
    text-align: center;
    font-weight: 700;
}

.sg_core1_right .sg_goods_core .core_desc {
    margin: 5px 0 13px 0;
    font-size: 12px;
    color: #666;
    text-align: center;
}

.sg_core1_right .sg_goods_core .core_desc span:nth-child(1) {
    padding-right: 5px;
}

.sg_core1_right .sg_goods_core .core_desc span:nth-child(2) {
    padding-left: 5px;
    border-left: 1px solid rgba(102, 102, 102, .4);
}

.sg_core1_right .sg_goods_core .core_goods {
    display: block;
    margin: 0 auto;
    width: 110px;
    height: 110px;
}

.sg_core1_right .goods_other {
    float: left;
    margin-top: -40px;
    width: 230px;
    height: 200px;
}

.sg_core1_right .other_item {
    display: block;
    position: relative;
    float: left;
    padding: 14px 0;
    width: 115px;
    height: 88px;
}

.sg_core1_right .other_item_logo {
    margin: 0 auto;
    width: 80px;
    height: 40px;
}

.sg_core1_right .other_item_logo img {
    width: 100%;
    height: 100%;
}

.sg_core1_right .other_item h6 {
    margin-top: 6px;
    height: 16px;
    color: #666;
    font-size: 12px;
    text-align: center;
    font-weight: 400;
    line-height: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.sg_core1_right .other_item:nth-child(odd)::after {
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -24px;
    content: "";
    width: 1px;
    height: 48px;
    background: linear-gradient(180deg, white, #eeeeee, #eeeeee, white);
}


/* 发现好物 */

.nice_goods {
    position: relative;
    padding-left: 190px;
    margin: 0 auto 20px auto;
    width: 990px;
    height: 260px;
    background-color: #fff;
}

.nice_goods .nice_goods_logo {
    position: absolute;
    left: 0;
    top: 0;
    width: 190px;
    height: 100%;
    background: url(../upload/nice_bc.png) no-repeat;
}

.nice_goods .nice_container {
    padding: 55px 0 10px 20px;
    margin: 15px auto 0 auto;
    width: 160px;
    height: 90px;
    background: url(../upload/nice_tit_bc.png) no-repeat;
    background-size: contain;
}

.nice_goods .nice_container .logo_text {
    font-size: 16px;
    color: rgba(255, 255, 255, .8);
}

.nice_goods .nice_container .logo_text i {
    margin-top: -2px;
    margin-left: 6px;
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    background: url(../images/sprite.png);
    background-position: 0 -16px;
    background-size: 32px;
}

.nice_goods .nicegoods_reco {
    position: relative;
    margin-left: 10px;
    width: 790px;
    height: 100%;
    white-space: nowrap;
    /* background-color: yellow; */
}

.nice_goods .nicegoods_reco a {
    margin-right: 50px;
    margin-top: 20px;
    display: inline-block;
    width: 150px;
    vertical-align: top;
}

.nice_goods .nicegoods_reco a:nth-child(even) {
    margin-top: 50px;
}

.nice_goods .nicegoods_reco a img {
    width: 150px;
    height: 150px;
}

.nice_goods .nicegoods_reco .reco_name {
    font-size: 14px;
    color: #333;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


/* 新品首发 */

.sg_core2 {
    margin: 20px auto;
    width: 990px;
    height: 305px;
    /* background-color: #fff; */
}

.sg_core2 .core2_item {
    /* overflow: hidden; */
    float: left;
    width: 240px;
    height: 100%;
    margin-right: 10px;
    background-color: #fff;
}

.sg_core2 .core2_item:nth-child(4) {
    margin-right: 0;
}

.sg_core2 .core2_item .core2_top {
    position: relative;
    padding: 0 20px;
    /* float: left; */
    height: 60px;
}

.sg_core2 .core2_item .core2_top a {
    display: block;
    overflow: hidden;
}

.sg_core2 .core2_item .core2_top h3 {
    float: left;
    margin-top: 12px;
    font-size: 24px;
    font-weight: 700;
    color: #333;
    line-height: 32px;
}

.core2_bottom {
    width: 100%;
}

.sg_core2 .core2_item .core2_top i {
    position: relative;
    float: left;
    top: 20px;
    left: 10px;
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(../images/sprite.png);
    background-position: -16px 0;
    background-size: 32px;
}

.sg_core2 .core2_slider {
    margin: 0 auto;
    width: 220px;
    height: 215px;
}

.sg_core2 .slider_list .sl_img img {
    margin: 0 auto;
    margin-top: -10px;
    display: block;
    width: 120px;
    height: 120px;
}

.sg_core2 .slider_list .sl_cont p {
    position: relative;
    left: 7px;
    margin-top: 8px;
    margin-bottom: 10px;
    width: 200px;
    font-size: 14px;
    text-align: center;
    color: #333;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.sg_core2 .slider_list .sl_cont .cont_desc {
    font-size: 12px;
    margin: 0;
}

.sg_core2 .slider_list .sl_cont .cont_price {
    margin-top: 20px;
    margin-bottom: 0;
    font-size: 18px;
    color: #e1251b;
}

.sg_core2 .c2_bt_head {
    margin: auto;
    width: 210px;
    height: 30px;
}

.sg_core2 .c2_bt_head a {
    margin: 0 4px;
    float: left;
    display: block;
    width: 62px;
    height: 20px;
    font-size: 12px;
    line-height: 20px;
    color: #999;
    text-align: center;
    background-color: #f6f6f6;
    border-radius: 12px;
}

.sg_core2 .c2_bt_head a:nth-child(1) {
    color: #fff;
    background-color: #de452b;
}

.core2_bottom .c2_bt_body .body_item {
    display: block;
    position: relative;
    margin: 0 15px 10px;
}

.core2_bottom .c2_bt_body img {
    width: 60px;
    height: 60px;
}

.core2_bottom .c2_bt_body .body_info {
    position: absolute;
    top: 0;
    left: 70px;
    width: 150px;
}

.core2_bottom .c2_bt_body .body_info span:nth-child(1) {
    overflow: hidden;
    display: block;
    height: 33px;
    /* line-height: 31px; */
    font-size: 12px;
    color: #333;
}

.core2_bottom .c2_bt_body .body_info span:nth-child(2) {
    margin-top: 5px;
    display: block;
    font-size: 16px;
    color: #e1251b;
}

.sg_core2 .btm_guang {
    padding: 0 10px;
    /* background-color: red; */
    width: 100%;
    height: 235px;
}

.sg_core2 .btm_guang .guang_item {
    display: block;
    position: relative;
    padding: 15px 125px 15px 15px;
    width: 220px;
    height: 113px;
    margin-bottom: 9px;
    background-color: #f8f3f3;
}

.guang_item .g_info_tit {
    width: 90px;
    height: 32px;
    font-size: 12px;
}

.guang_item .g_info_tag {
    margin-top: 5px;
    padding: 0 2px;
    width: 30px;
    height: 18px;
    font-size: 12px;
    color: #e2231a;
    text-align: center;
    line-height: 17px;
    border: 1px solid #e2231a;
    border-radius: 2px;
}

.guang_item .g_info_desc {
    position: absolute;
    bottom: 15px;
    font-size: 12px;
    color: #999;
}

.guang_item .guang_img {
    position: absolute;
    right: 15px;
    top: 15px;
    width: 85px;
    height: 85px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgb(0 0 0 / 5%);
}

.guang_item .guang_img img {
    margin: 5px auto;
    display: block;
    width: 75px;
    height: 75px;
}

.sg_core2 .btm_guang .guang_item:nth-child(2) {
    background-color: #ebf2ea;
}

.sg_core2 .btm_ling {
    width: 240px;
    height: 245px;
    background: url(../upload/ling_item_bc.png) no-repeat;
    background-size: 100% auto;
}

.btm_ling .ling_list {
    padding: 0 10px;
    width: 240px;
    height: 245px;
}

.btm_ling .ling_item {
    position: relative;
    margin-bottom: 3px;
    display: block;
    height: 72px;
    /* background-color: yellowgreen; */
}

.ling_list .ling_cont {
    margin-right: 40px;
    margin-left: 16px;
    padding-top: 7px;
    height: 100%;
    /* background-color: black; */
}

.ling_list .ling_cont .ling_price {
    height: 24px;
    line-height: 24px;
    font-size: 0;
    color: #e33333;
}

.ling_list .ling_cont .ling_price i {
    margin-right: 3px;
    font-size: 14px;
    font-weight: 400;
}

.ling_list .ling_cont .ling_price span {
    font-size: 20px;
    font-weight: 700;
}

.ling_list .ling_cont .ling_limit,
.ling_desc {
    font-size: 12px;
    height: 18px;
    line-height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ling_list .ling_cont .ling_limit {
    color: #999;
}

.ling_list .ling_other {
    color: #666;
}

.ling_list .ling_other .other_inner {
    position: absolute;
    top: 4px;
    right: 25px;
    display: inline-block;
    /* writing-mode: tb-rl; */
    line-height: 15px;
    width: 12px;
    font-size: 12px;
    text-align: justify;
}

.ling_list .ling_other .other_arrow {
    font-family: 'icomoon';
    position: absolute;
    top: 28px;
    right: 10px;
}


/* 分割线标题 */

.floorhd {
    height: 65px;
}

.floorhd h3 {
    position: relative;
    padding: 0 30px;
    margin: 0 auto 20px;
    width: 210px;
    height: 45px;
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    line-height: 45px;
    color: #333;
}

.floorhd h3::before {
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -10px;
    content: "";
    width: 25px;
    height: 20px;
    background: url(../images/floorhd.png);
    background-size: 50px 20px;
    background-position: 0 0;
}

.floorhd h3::after {
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -10px;
    content: "";
    width: 25px;
    height: 20px;
    background: url(../images/floorhd.png);
    background-size: 50px 20px;
    background-position: -25px 0;
}


/* 频道广场模块 */

.channel_box {
    height: 790px;
    /* background-color: red; */
}

.channel_item {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 240px;
    height: 148px;
    background-color: #fff;
}

.channel_box .cha_big {
    height: 306px;
}

.channel_box .cha_big img {
    width: 100%;
    height: 100%;
}

.channel_box .cha_side {
    margin-right: 0;
}

.channel_box .cha_goods .cha_tit {
    display: block;
    padding-top: 20px;
    padding-bottom: 8px;
    margin-left: 30px;
    margin-right: 10px;
    height: 53px;
    line-height: 25px;
}

.cha_goods .cha_tit .cha_tit1 {
    font-size: 18px;
    font-weight: 700;
    color: #333;
}

.cha_goods .cha_tit .cha_tit2 {
    margin-left: 5px;
    font-size: 12px;
    color: #999;
}

.cha_imglist {
    position: relative;
    padding-left: 30px;
    width: 280px;
    height: 75px;
}

.cha_goods .cha_goods_item {
    display: inline-block;
    margin-right: 30px;
}

.cha_goods .cha_goods_item .cha_item_img {
    width: 75px;
    height: 75px;
}


/* 为你推荐模块 */

#recommend .recm_tab {
    overflow: hidden;
    margin-bottom: 10px;
    height: 60px;
    background-color: #fff;
}

.recm_tab_list {
    width: 900px;
    height: 60px;
    margin: 0 auto;
    /* background-color: #fff; */
}

.recm_tab_list .tab_item {
    overflow: hidden;
    position: relative;
    float: left;
    width: 150px;
    height: 60px;
    text-align: center;
}

.recm_tab_list .tab_item .tab_item_tit {
    margin: 7px auto 0 auto;
    width: 80px;
    height: 27px;
    line-height: 27px;
    color: #333;
    font-size: 16px;
    font-weight: 700;
}

.recm_tab_list .tab_item:nth-child(1) .tab_item_tit {
    color: #fff;
    background-color: #e1252b;
    border-radius: 50px;
}

.recm_tab_list .tab_item .tab_item_desc {
    font-size: 14px;
    color: #999;
}

.recm_tab_list .tab_item:nth-child(1) .tab_item_desc {
    color: #e1251b;
}

.recm_tab_list .tab_item .tab_item_gap {
    position: absolute;
    right: 0;
    top: 10px;
    height: 40px;
    width: 1px;
    background: linear-gradient(180deg, white, #dfdfdf 51%, white);
}

#recommend .recm_goods_list {
    height: 540px;
    margin-bottom: 10px;
}

.recm_goods_list .recm_item {
    float: left;
    width: 190px;
    height: 266px;
    background-color: #fff;
    margin: 0 10px 8px 0;
}

.recm_goods_list .recm_item:nth-child(5n) {
    margin-right: 0;
}

.recm_goods_list a {
    display: block;
}

.recm_goods_list .recm_goods_img {
    display: block;
    width: 120px;
    height: 120px;
    margin: 30px auto;
}

.recm_goods_list .recm_goods_name {
    height: 40px;
    font-size: 12px;
    line-height: 20px;
    color: #666;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
}

.recm_goods_list .recm_info {
    padding: 0 10px;
}

.recm_goods_list .recm_goods_name i {
    margin-right: 4px;
    padding: 0 5px;
    display: inline;
    width: 34px;
    height: 16px;
    font-size: 12px;
    line-height: 16px;
    background-color: #e1251b;
    color: #fff;
}

.recm_goods_list .recm_price {
    margin-top: 10px;
    height: 18px;
    color: #e1251b;
    line-height: 18px;
    font-weight: 700;
    font-size: 16px;
}

.recm_goods_list .recm_price i {
    font-size: 12px;
    font-weight: 700;
}


/* 页面底部 footer */


/* 服务 */

.mod_service {
    height: 103px;
    padding: 30px 0;
    border-bottom: 1px solid #dedede;
}

.mod_s_box {
    height: 42px;
}

.mod_s_box li {
    float: left;
    width: 247px;
    height: 42px;
}

.mod_s_unit {
    position: relative;
    margin: 0 auto;
    padding-left: 45px;
    width: 225px;
}

.mod_s_unit h5 {
    position: absolute;
    left: 0;
    top: 0;
    width: 36px;
    height: 42px;
    background: url(../images/fonter_service.png) no-repeat;
    background-size: 113px 86.5px;
    background-position: 0 0;
}

.mod_s_item:nth-child(2) h5 {
    background-position: -38.5px 0;
}

.mod_s_item:nth-child(3) h5 {
    background-position: -77px 0;
}

.mod_s_item:nth-child(4) h5 {
    background-position: 0 -44.5px;
}

.mod_s_unit p {
    width: 100%;
    height: 42px;
    line-height: 42px;
    font-size: 18px;
    color: #444;
    font-weight: 700;
}


/* 帮助指南 */

.mod_help {
    padding: 20px 0;
}

.mod_h_box {
    height: 160px;
}

.mod_h_box .mod_h_nav {
    float: left;
    width: 158px;
}

.mod_h_box .mod_h_nav h5 {
    margin-bottom: 5px;
    font-size: 14px;
    color: #666;
    font-weight: 700;
}

.mod_h_box .mod_h_nav li {
    line-height: 22px;
}

.mod_h_box .mod_h_cover {
    float: left;
    width: 200px;
}

.mod_h_box .mod_h_cover h5 {
    margin-bottom: 15px;
    font-size: 14px;
    text-align: center;
    color: #666;
    font-weight: 700;
}

.mod_h_cover .mod_h_con {
    padding: 0 10px;
}

.mod_h_cover .mod_h_con .mod_h_con_more {
    text-align: right;
}

.mod_h_cover .mod_h_con .mod_h_con_more i {
    font-family: 'icomoon';
}


/* 版权信息 */

.mod_c_box {
    padding: 15px 0;
    border-top: 1px solid #e1e1e1;
    text-align: center;
}

.mod_c_one a {
    color: #666;
    font-size: 12px;
}

.mod_c_box span {
    margin: 0 6px;
    color: #ccc;
}

.mod_c_two {
    padding: 10px 0;
    line-height: 22px;
}

.mod_c_two a {
    color: #999;
}

.mod_c_two .mod_c_cert_word {
    color: #999;
}

.mod_c_two .mod_c_inter i {
    display: inline-block;
    margin-top: -1px;
    margin-right: 10px;
    width: 15px;
    height: 12px;
    background: url(../images/fonter_service.png) no-repeat;
    background-size: 113px 86.5px;
    background-position: -38.5px -44.5px;
}

.mod_c_inter a:nth-child(3) i {
    background-position: -56px -44.5px;
}

.mod_c_inter a:nth-child(5) i {
    background-position: -73.5px -44.5px;
}

.mod_c_inter a:nth-child(7) i {
    background-position: -38.5px -59px;
}

.mod_c_inter a:nth-child(8) i {
    background-position: -91px -59px;
}

.mod_c_three {
    margin: 25px 0;
}

.mod_c_three a {
    margin: 0 3px;
    display: inline-block;
    width: 103px;
    height: 32px;
    background: url(../images/mod_c_three.png) no-repeat;
    background-position: -205px -111px;
}

.mod_c_three a:nth-child(2) {
    background-position: -205px -74px;
}

.mod_c_three a:nth-child(3) {
    background-position: -205px -37px;
}

.mod_c_three a:nth-child(4) {
    background: url(../images/mod_c_three2.png) no-repeat;
    background-position: 0 -66px;
}

.mod_c_three a:nth-child(5) {
    background-position: 0 -155px;
}

.mod_c_three a:nth-child(6) {
    background: url(../images/mod_c_three2.png) no-repeat;
    background-position: 0 -99px;
}

.mod_c_three a:nth-child(7) {
    width: 70px;
    background: url(../images/mod_c_three2.png) no-repeat;
    background-position: -104px -99px;
}

.mod_c_three a:nth-child(8) {
    width: 88px;
    background: url(../images/mod_c_three2.png) no-repeat;
    background-position: -104px -131px;
}